#introWrapper{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    background: url('./images/intro.jpg');
    background-image: contain;
}

body{
    color: red;
    background-color: red;
}