body{
    font-family: sans-serif;
}

#introWrapper{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
body{
    height: 100vh;
}

button:hover{
    background-color: rgba(56, 56, 255, 0.5) !important;
}

img{
    width: 100%;
    margin: 0;
    padding: 0;
}

#brakes{
    background-image: url('/src/components/images/brakes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tires{
    background-image: url('/src/components/images/tire_rotation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#oil{
    background-image: url('/src/components/images/oil_change.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.featureInfo{
    opacity: 0;
    position: relative;
    top: 50px;
    color: yellow;
    font-weight: 600;
}

.featureShade{
    background-color: rgba(56, 56, 255,0);
}

.feature:hover .featureShade{
    background-color: rgba(56, 56, 255,0.5);
    z-index: 20;
    transition: background-color 0.5s;
}

.feature:hover .featureInfo{
    opacity: 1;
    transition: opacity 1s;

}



.price_item:hover{
    color: #3838ff;
}

.aTag{
    text-decoration: none;
    color: inherit;
}

.aTag:hover{
    color: rgb(56, 56, 255);
}

@media only screen and (max-width: 960px){
    #title{
        font-size: 3.5vh !important;
    }
    img{
        min-width: 150%;
        max-width: 300%;
        min-height: 150%;
        max-height: 300%;
        margin: 0;
        padding: 0;
    }

    hr{
        width: 70% !important;
    }

    #featureWrapper{
        height: 1000px !important;
    }
    #features{
        flex-direction: column;
    }
    .feature{
        width: 100% !important;
    }
    #about{
        height: 100vh !important;
    }
    #footer{
        flex-direction: column !important;
        height: 70vh !important;
    }
    #footer iframe{
        margin-left: 10vw !important;
    }

}